@use "../core/_index.scss" as *;

// Message box

/// The default theme color of the MessageBox.
/// @group messagebox
/// @role default
$kno-message-box-default-theme-color: null !default;

/// The margin of the MessageBox.
/// @group messagebox
$kno-message-box-margin: 0 0 k-spacing(4) 0 !default;
/// The horizontal padding of the MessageBox.
/// @group messagebox
$kno-message-box-padding-x: k-spacing(4) !default;
/// The vertical padding of the MessageBox.
/// @group messagebox
$kno-message-box-padding-y: k-spacing(2) !default;
/// The width of the border around the MessageBox.
/// @group messagebox
$kno-message-box-border-width: 0 0 0 4px !default;
/// The border radius of the MessageBox.
/// @group messagebox
$kno-message-box-border-radius: null !default;

/// The font size of the MessageBox.
/// @group messagebox
$kno-message-box-font-size: var(--kno-font-size) !default;
/// The line height of the MessageBox.
/// @group messagebox
$kno-message-box-line-height: var(--kno-line-height) !default;

/// The background color level of the MessageBox.
/// @group messagebox
$kno-message-box-bg-level: -10 !default;
/// The text color level of the MessageBox.
/// @group messagebox
$kno-message-box-text-level: 6 !default;
/// The border color level of the MessageBox.
/// @group messagebox
$kno-message-box-border-level: -9 !default;

/// The font style of the MessageBox link.
/// @group messagebox
$kno-message-box-link-font-style: normal !default;
/// The text decoration of the MessageBox link.
/// @group messagebox
$kno-message-box-link-text-decoration: underline !default;

@forward "@progress/kno-theme-core/scss/components/messagebox/_variables.scss" with (
    $kno-message-box-default-theme-color: $kno-message-box-default-theme-color,
    $kno-message-box-margin: $kno-message-box-margin,
    $kno-message-box-padding-x: $kno-message-box-padding-x,
    $kno-message-box-padding-y: $kno-message-box-padding-y,
    $kno-message-box-border-width: $kno-message-box-border-width,
    $kno-message-box-border-radius: $kno-message-box-border-radius,
    $kno-message-box-font-size: $kno-message-box-font-size,
    $kno-message-box-line-height: $kno-message-box-line-height,
    $kno-message-box-bg-level: $kno-message-box-bg-level,
    $kno-message-box-text-level: $kno-message-box-text-level,
    $kno-message-box-border-level: $kno-message-box-border-level,
    $kno-message-box-link-font-style: $kno-message-box-link-font-style,
    $kno-message-box-link-text-decoration: $kno-message-box-link-text-decoration
);
