@use "../core/_index.scss" as *;

// Wizard

/// The horizontal padding of the Wizard.
/// @group wizard
$kno-wizard-padding-x: k-spacing(5) !default;
/// The vertical padding of the Wizard.
/// @group wizard
$kno-wizard-padding-y: $kno-wizard-padding-x !default;
/// The horizontal padding of the Wizard content.
/// @group wizard
$kno-wizard-content-padding-x: k-spacing(8) !default;
/// The vertical padding of the Wizard content.
/// @group wizard
$kno-wizard-content-padding-y: k-spacing(8) !default;
/// The horizontal margin of the Wizard's Button container.
/// @group wizard
$kno-wizard-buttons-margin-x: k-spacing(2.5) !default;

/// The border width of the Wizard.
/// @group wizard
$kno-wizard-border-width: 0px !default;
/// The font size of the Wizard.
/// @group wizard
$kno-wizard-font-size: var(--kno-font-size) !default;
/// The line height of the Wizard.
/// @group wizard
$kno-wizard-line-height: var(--kno-line-height) !default;
/// The font family of the Wizard.
/// @group wizard
$kno-wizard-font-family: var(--kno-font-family) !default;

/// The outline of the focused Wizard step.
/// @group wizard
$kno-wizard-step-focus-border: k-color(subtle) !default;

@forward "@progress/kno-theme-core/scss/components/wizard/_variables.scss" with (
    $kno-wizard-padding-x: $kno-wizard-padding-x,
    $kno-wizard-padding-y: $kno-wizard-padding-y,
    $kno-wizard-content-padding-x: $kno-wizard-content-padding-x,
    $kno-wizard-content-padding-y: $kno-wizard-content-padding-y,
    $kno-wizard-buttons-margin-x: $kno-wizard-buttons-margin-x,
    $kno-wizard-border-width: $kno-wizard-border-width,
    $kno-wizard-font-size: $kno-wizard-font-size,
    $kno-wizard-line-height: $kno-wizard-line-height,
    $kno-wizard-font-family: $kno-wizard-font-family,
    $kno-wizard-step-focus-border: $kno-wizard-step-focus-border
);
