@use "../core/_index.scss" as *;


// Splitter

/// The width of the border around the Splitter.
/// @group splitter
$kno-splitter-border-width: 1px !default;
/// The font family of the Splitter.
/// @group splitter
$kno-splitter-font-family: var(--kno-font-family) !default;
/// The font size of the Splitter.
/// @group splitter
$kno-splitter-font-size: var(--kno-font-size) !default;
/// The line height of the Splitter.
/// @group splitter
$kno-splitter-line-height: var(--kno-line-height) !default;

/// The background color of the Splitter.
/// @group splitter
$kno-splitter-bg: k-color(surface) !default;
/// The text color of the Splitter.
/// @group splitter
$kno-splitter-text: k-color(on-app-surface) !default;
/// The border color of the Splitter.
/// @group splitter
$kno-splitter-border: k-color(border) !default;

/// The size of the Splitter split bar.
/// @group splitter
$kno-splitter-splitbar-size: k-spacing(3) !default;
/// The length of the Splitter drag handle.
/// @group splitter
$kno-splitter-drag-handle-length: 20px !default;
/// The thickness of the Splitter drag handle.
/// @group splitter
$kno-splitter-drag-handle-thickness: 2px !default;
/// The margin of the Splitter drag handle icon.
/// @group splitter
$kno-splitter-drag-icon-margin: k-spacing(4) !default;
/// The horizontal padding of the collapse icon in the Splitter.
/// @group splitter
$kno-splitter-collapse-icon-padding-x: null !default;
/// The vertical padding of the collapse icon in the Splitter.
/// @group splitter
$kno-splitter-collapse-icon-padding-y: k-spacing(0.5) !default;

/// The background color of the Splitter split bar.
/// @group splitter
$kno-splitbar-bg: k-color(base-subtle) !default;
/// The text color of the Splitter split bar.
/// @group splitter
$kno-splitbar-text: k-color(subtle) !default;

/// The hover background color of the Splitter split bar.
/// @group splitter
$kno-splitbar-hover-bg: k-color(base-subtle-hover) !default;
/// The hover text color of the Splitter split bar.
/// @group splitter
$kno-splitbar-hover-text: $kno-splitbar-text !default;

/// The selected background color of the Splitter split bar.
/// @group splitter
$kno-splitbar-selected-bg: k-color(primary) !default;
/// The selected text color of the Splitter split bar.
/// @group splitter
$kno-splitbar-selected-text: k-color(on-primary) !default;

@forward "@progress/kno-theme-core/scss/components/splitter/_variables.scss" with (
    $kno-splitter-border-width: $kno-splitter-border-width,
    $kno-splitter-font-family: $kno-splitter-font-family,
    $kno-splitter-font-size: $kno-splitter-font-size,
    $kno-splitter-line-height: $kno-splitter-line-height,
    $kno-splitter-bg: $kno-splitter-bg,
    $kno-splitter-text: $kno-splitter-text,
    $kno-splitter-border: $kno-splitter-border,
    $kno-splitter-splitbar-size: $kno-splitter-splitbar-size,
    $kno-splitter-drag-handle-length: $kno-splitter-drag-handle-length,
    $kno-splitter-drag-handle-thickness: $kno-splitter-drag-handle-thickness,
    $kno-splitter-drag-icon-margin: $kno-splitter-drag-icon-margin,
    $kno-splitter-collapse-icon-padding-x: $kno-splitter-collapse-icon-padding-x,
    $kno-splitter-collapse-icon-padding-y: $kno-splitter-collapse-icon-padding-y,
    $kno-splitbar-bg: $kno-splitbar-bg,
    $kno-splitbar-text: $kno-splitbar-text,
    $kno-splitbar-hover-bg: $kno-splitbar-hover-bg,
    $kno-splitbar-hover-text: $kno-splitbar-hover-text,
    $kno-splitbar-selected-bg: $kno-splitbar-selected-bg,
    $kno-splitbar-selected-text: $kno-splitbar-selected-text
);
