@use "sass:color";
@use "sass:map";
@use "../core/_index.scss" as *;
@use "../card/_variables.scss" as *;

/// The width of the border around the TileLayout.
/// @group tile-layout
$kno-tile-layout-border-width: var( --kno-tile-layout-border-width, 0px ) !default;
/// The background color of the TileLayout.
/// @group tile-layout
$kno-tile-layout-bg: var( --kno-tile-layout-bg, #{k-color(surface)} ) !default;

/// The horizontal padding of the TileLayout.
/// @group tile-layout
$kno-tile-layout-padding-x: var( --kno-tile-layout-padding-x, #{k-spacing(4)} ) !default;

/// The vertical padding of the TileLayout
/// @group tile-layout
$kno-tile-layout-padding-y: var( --kno-tile-layout-padding-y, #{$kno-tile-layout-padding-x} ) !default;

/// The width of the border around the TileLayout hint.
/// @group tile-layout
$kno-tile-layout-hint-border-width: var( --kno-tile-layout-hint-border-width, 1px ) !default;
/// The radius of the border around the TileLayout hint.
/// @group tile-layout
$kno-tile-layout-hint-border-radius: var( --kno-tile-layout-hint-border-radius, var( --kno-border-radius-lg, initial ) ) !default;
/// The color of the border around the TileLayout hint.
/// @group tile-layout
$kno-tile-layout-hint-border: var( --kno-tile-layout-hint-border, #{color-mix(in srgb, k-color(border) 16%, transparent)} ) !default;
/// The background color of the TileLayout hint.
/// @group tile-layout
$kno-tile-layout-hint-bg: var( --kno-tile-layout-hint-bg, rgba(255, 255, 255, .2) ) !default;

@forward "@progress/kno-theme-core/scss/components/tilelayout/_variables.scss" with (
    $kno-tile-layout-border-width: $kno-tile-layout-border-width,
    $kno-tile-layout-bg: $kno-tile-layout-bg,
    $kno-tile-layout-padding-x: $kno-tile-layout-padding-x,
    $kno-tile-layout-padding-y: $kno-tile-layout-padding-y,
    $kno-tile-layout-hint-border-width: $kno-tile-layout-hint-border-width,
    $kno-tile-layout-hint-border-radius: $kno-tile-layout-hint-border-radius,
    $kno-tile-layout-hint-border: $kno-tile-layout-hint-border,
    $kno-tile-layout-hint-bg: $kno-tile-layout-hint-bg
);
