@use "../core/_index.scss" as *;

/// The border radius of the Panel.
/// @group panel
$kno-panel-border-radius: k-border-radius(md) !default;
/// The width of the border around the Panel.
/// @group panel
$kno-panel-border-width: 1px !default;
/// The style of the border around the Panel.
/// @group panel
$kno-panel-border-style: solid !default;

/// The inline padding of the Panel header.
/// @group panel
$kno-panel-header-padding-inline: k-spacing(2) !default;
/// The block padding of the Panel header.
/// @group panel
$kno-panel-header-padding-block: k-spacing(1) !default;

/// The inline padding of the Panel content.
/// @group panel
$kno-panel-content-padding-inline: k-spacing(2) !default;
/// The block padding of the Panel content.
/// @group panel
$kno-panel-content-padding-block: k-spacing(1) !default;

/// The text color of the Panel.
/// @group panel
$kno-panel-text: k-color(on-app-surface) !default;
/// The background color of the Panel.
/// @group panel
$kno-panel-bg: k-color(surface) !default;
/// The color of the border around the Panel.
/// @group panel
$kno-panel-border: k-color(border) !default;

@forward "@progress/kno-theme-core/scss/components/panel/_variables.scss" with (
    $kno-panel-border-radius: $kno-panel-border-radius,
    $kno-panel-border-width: $kno-panel-border-width,
    $kno-panel-border-style: $kno-panel-border-style,
    $kno-panel-header-padding-inline: $kno-panel-header-padding-inline,
    $kno-panel-header-padding-block: $kno-panel-header-padding-block,
    $kno-panel-content-padding-inline: $kno-panel-content-padding-inline,
    $kno-panel-content-padding-block: $kno-panel-content-padding-block,
    $kno-panel-text: $kno-panel-text,
    $kno-panel-bg: $kno-panel-bg,
    $kno-panel-border: $kno-panel-border
);
