@use "../core/_index.scss" as *;

// Switch

/// The default size of the Switch.
/// @group switch
/// @role default
$kno-switch-default-size: "md" !default;
/// The default border radius of the Switch track.
/// @group switch
/// @role default
$kno-switch-default-track-roundness: "full" !default;
/// The default border radius of the Switch thumb.
/// @group switch
/// @role default
$kno-switch-default-thumb-roundness: "full" !default;

/// The font family of the Switch.
/// @group switch
$kno-switch-font-family: var( --kno-switch-font-family, var(--kno-font-family) ) !default;

/// The border width of the Switch track.
/// @group switch
$kno-switch-track-border-width: var( --kno-switch-track-border-width, 1px ) !default;

/// The border width of the Switch thumb.
/// @group switch
$kno-switch-thumb-border-width: var( --kno-switch-thumb-border-width, 0 ) !default;

/// The text transform of the Switch label.
/// @group switch
$kno-switch-label-text-transform: var( --kno-switch-label-text-transform, uppercase ) !default;

/// The display of the Switch label.
/// @group switch
$kno-switch-label-display: var( --kno-switch-label-display, none ) !default;

/// The font size of the small Switch.
/// @group switch
$kno-switch-sm-font-size: 10px !default;
/// The track width of the small Switch.
/// @group switch
$kno-switch-sm-track-width: 36px !default;
/// The track height of the small Switch.
/// @group switch
$kno-switch-sm-track-height: 16px !default;
/// The thumb width of the small Switch.
/// @group switch
$kno-switch-sm-thumb-width: 10px !default;
/// The thumb height of the small Switch.
/// @group switch
$kno-switch-sm-thumb-height: 10px !default;
/// The thumb offset of the small Switch.
/// @group switch
$kno-switch-sm-thumb-offset: 3px !default;
/// The label offset of the small Switch.
/// @group switch
$kno-switch-sm-label-offset: 4px !default;

/// The font size of the medium Switch.
/// @group switch
$kno-switch-md-font-size: 10px !default;
/// The track width of the medium Switch.
/// @group switch
$kno-switch-md-track-width: 40px !default;
/// The track height of the medium Switch.
/// @group switch
$kno-switch-md-track-height: 20px !default;
/// The thumb width of the medium Switch.
/// @group switch
$kno-switch-md-thumb-width: 14px !default;
/// The thumb height of the medium Switch.
/// @group switch
$kno-switch-md-thumb-height: 14px !default;
/// The thumb offset of the medium Switch.
/// @group switch
$kno-switch-md-thumb-offset: 4px !default;
/// The label offset of the medium Switch.
/// @group switch
$kno-switch-md-label-offset: 5px !default;

/// The font size of the large Switch.
/// @group switch
$kno-switch-lg-font-size: 10px !default;
/// The track width of the large Switch.
/// @group switch
$kno-switch-lg-track-width: 44px !default;
/// The track height of the large Switch.
/// @group switch
$kno-switch-lg-track-height: 24px !default;
/// The thumb width of the large Switch.
/// @group switch
$kno-switch-lg-thumb-width: 18px !default;
/// The thumb height of the large Switch.
/// @group switch
$kno-switch-lg-thumb-height: 18px !default;
/// The thumb offset of the large Switch.
/// @group switch
$kno-switch-lg-thumb-offset: 5px !default;
/// The label offset of the large Switch.
/// @group switch
$kno-switch-lg-label-offset: 6px !default;

/// The ring around the focused Switch.
/// @group switch
$kno-switch-focus-ring: var( --kno-switch-focus-ring, 2px solid k-color(border-alt) ) !default;

/// The background of the track when the Switch is not checked.
/// @group switch
$kno-switch-off-track-bg: var( --kno-switch-off-track-bg, k-color(surface-alt) ) !default;
/// The text color of the track when the Switch is not checked.
/// @group switch
$kno-switch-off-track-text: var( --kno-switch-off-track-text, k-color(on-app-surface) ) !default;
/// The border color of the track when the Switch is not checked.
/// @group switch
$kno-switch-off-track-border: var( --kno-switch-off-track-border, k-color(border) ) !default;

/// The background of the track when the hovered Switch is not checked.
/// @group switch
$kno-switch-off-track-hover-bg: var( --kno-switch-off-track-hover-bg, k-color(surface-alt) ) !default;
/// The text color of the track when the hovered Switch is not checked.
/// @group switch
$kno-switch-off-track-hover-text: var( --kno-switch-off-track-hover-text, k-color(on-app-surface) ) !default;
/// The border color of the track when the hovered Switch is not checked.
/// @group switch
$kno-switch-off-track-hover-border: var( --kno-switch-off-track-hover-border, k-color(border-alt) ) !default;

/// The background of the track when the focused Switch is not checked.
/// @group switch
$kno-switch-off-track-focus-bg: var( --kno-switch-off-track-focus-bg, k-color(surface-alt) ) !default;
/// The text color of the track when the focused Switch is not checked.
/// @group switch
$kno-switch-off-track-focus-text: var( --kno-switch-off-track-focus-text, k-color(on-app-surface) ) !default;
/// The border color of the track when the focused Switch is not checked.
/// @group switch
$kno-switch-off-track-focus-border: var( --kno-switch-off-track-focus-border, k-color(border) ) !default;

/// The background of the track when the disabled Switch is not checked.
/// @group switch
$kno-switch-off-track-disabled-bg: var( --kno-switch-off-track-disabled-bg, k-color(surface-alt) ) !default;
/// The text color of the track when the disabled Switch is not checked.
/// @group switch
$kno-switch-off-track-disabled-text: var( --kno-switch-off-track-disabled-text, k-color(on-app-surface) ) !default;
/// The border color of the track when the disabled Switch is not checked.
/// @group switch
$kno-switch-off-track-disabled-border: var( --kno-switch-off-track-disabled-border, color-mix(in srgb, k-color(on-app-surface) 14%, transparent) ) !default;

/// The background of the thumb when the Switch is not checked.
/// @group switch
$kno-switch-off-thumb-bg: var( --kno-switch-off-thumb-bg, k-color(subtle) ) !default;
/// The text color of the thumb when the Switch is not checked.
/// @group switch
$kno-switch-off-thumb-text: var( --kno-switch-off-thumb-text, inherit ) !default;
/// The border color of the thumb when the Switch is not checked.
/// @group switch
$kno-switch-off-thumb-border: var( --kno-switch-off-thumb-border, k-color(border) ) !default;

/// The background of the thumb when the hovered Switch is not checked.
/// @group switch
$kno-switch-off-thumb-hover-bg: var( --kno-switch-off-thumb-hover-bg, k-color(on-app-surface) ) !default;
/// The text color of the thumb when the hovered Switch is not checked.
/// @group switch
$kno-switch-off-thumb-hover-text: var( --kno-switch-off-thumb-hover-text, inherit ) !default;
/// The border color of the thumb when the hovered Switch is not checked.
/// @group switch
$kno-switch-off-thumb-hover-border: var( --kno-switch-off-thumb-hover-border, k-color(border-alt) ) !default;

/// The background of the thumb when the disabled Switch is not checked.
/// @group switch
$kno-switch-off-thumb-disabled-bg: var( --kno-switch-off-thumb-disabled-bg, color-mix(in srgb, k-color(on-app-surface) 30%, transparent) ) !default;
/// The text color of the thumb when the disabled Switch is not checked.
/// @group switch
$kno-switch-off-thumb-disabled-text: var( --kno-switch-off-thumb-disabled-text, inherit ) !default;
/// The border color of the thumb when the disabled Switch is not checked.
/// @group switch
$kno-switch-off-thumb-disabled-border: var( --kno-switch-off-thumb-disabled-border, color-mix(in srgb, k-color(on-app-surface) 30%, transparent) ) !default;

/// The background of the track when the Switch is checked.
/// @group switch
$kno-switch-on-track-bg: var( --kno-switch-on-track-bg, k-color(primary) ) !default;
/// The text color of the track when the Switch is checked.
/// @group switch
$kno-switch-on-track-text: var( --kno-switch-on-track-text, k-color(on-primary) ) !default;
/// The border color of the track when the Switch is checked.
/// @group switch
$kno-switch-on-track-border: var( --kno-switch-on-track-border, $kno-switch-on-track-bg ) !default;

/// The background of the track when the hovered Switch is checked.
/// @group switch
$kno-switch-on-track-hover-bg: var( --kno-switch-on-track-hover-bg, k-color(primary-hover) ) !default;
/// The text color of the track when the hovered Switch is checked.
/// @group switch
$kno-switch-on-track-hover-text: var( --kno-switch-on-track-hover-text, k-color(on-primary) ) !default;
/// The border color of the track when the hovered Switch is checked.
/// @group switch
$kno-switch-on-track-hover-border: var( --kno-switch-on-track-hover-border, $kno-switch-on-track-hover-bg ) !default;

/// The background of the track when the focused Switch is checked.
/// @group switch
$kno-switch-on-track-focus-bg: var( --kno-switch-on-track-focus-bg, k-color(primary) ) !default;
/// The text color of the track when the focused Switch is checked.
/// @group switch
$kno-switch-on-track-focus-text: var( --kno-switch-on-track-focus-text, k-color(on-primary) ) !default;
/// The border color of the track when the focused Switch is checked.
/// @group switch
$kno-switch-on-track-focus-border: var( --kno-switch-on-track-focus-border, $kno-switch-on-track-focus-bg ) !default;

/// The background of the track when the disabled Switch is checked.
/// @group switch
$kno-switch-on-track-disabled-bg: var( --kno-switch-on-track-disabled-bg, color-mix(in srgb, k-color(on-app-surface) 7%, transparent) ) !default;
/// The text color of the track when the disabled Switch is checked.
/// @group switch
$kno-switch-on-track-disabled-text: var( --kno-switch-on-track-disabled-text, k-color(on-app-surface) ) !default;
/// The border color of the track when the disabled Switch is checked.
/// @group switch
$kno-switch-on-track-disabled-border: var( --kno-switch-on-track-disabled-border, transparent ) !default;

/// The background of the thumb when the Switch is checked.
/// @group switch
$kno-switch-on-thumb-bg: var( --kno-switch-on-thumb-bg, k-color(app-surface) ) !default;
/// The text color of the thumb when the Switch is checked.
/// @group switch
$kno-switch-on-thumb-text: var( --kno-switch-on-thumb-text, inherit ) !default;
/// The border color of the thumb when the Switch is checked.
/// @group switch
$kno-switch-on-thumb-border: var( --kno-switch-on-thumb-border, inherit ) !default;

/// The background of the thumb when the hovered Switch is checked.
/// @group switch
$kno-switch-on-thumb-hover-bg: var( --kno-switch-on-thumb-hover-bg, k-color(app-surface) ) !default;
/// The text color of the thumb when the hovered Switch is checked.
/// @group switch
$kno-switch-on-thumb-hover-text: var( --kno-switch-on-thumb-hover-text, inherit ) !default;
/// The border color of the thumb when the hovered Switch is checked.
/// @group switch
$kno-switch-on-thumb-hover-border: var( --kno-switch-on-thumb-hover-border, inherit ) !default;

/// The background of the thumb when the disabled Switch is checked.
/// @group switch
$kno-switch-on-thumb-disabled-bg: var( --kno-switch-on-thumb-disabled-bg, color-mix(in srgb, k-color(on-app-surface) 30%, transparent) ) !default;
/// The text color of the thumb when the disabled Switch is checked.
/// @group switch
$kno-switch-on-thumb-disabled-text: var( --kno-switch-on-thumb-disabled-text, inherit ) !default;
/// The border color of the thumb when the disabled Switch is checked.
/// @group switch
$kno-switch-on-thumb-disabled-border: var( --kno-switch-on-thumb-disabled-border, color-mix(in srgb, k-color(on-app-surface) 30%, transparent) ) !default;

@forward "@progress/kno-theme-core/scss/components/switch/_variables.scss" with (
    $kno-switch-default-size: $kno-switch-default-size,
    $kno-switch-default-track-roundness: $kno-switch-default-track-roundness,
    $kno-switch-default-thumb-roundness: $kno-switch-default-thumb-roundness,
    $kno-switch-font-family: $kno-switch-font-family,
    $kno-switch-track-border-width: $kno-switch-track-border-width,
    $kno-switch-thumb-border-width: $kno-switch-thumb-border-width,
    $kno-switch-label-text-transform: $kno-switch-label-text-transform,
    $kno-switch-label-display: $kno-switch-label-display,
    $kno-switch-sm-font-size: $kno-switch-sm-font-size,
    $kno-switch-sm-track-width: $kno-switch-sm-track-width,
    $kno-switch-sm-track-height: $kno-switch-sm-track-height,
    $kno-switch-sm-thumb-width: $kno-switch-sm-thumb-width,
    $kno-switch-sm-thumb-height: $kno-switch-sm-thumb-height,
    $kno-switch-sm-thumb-offset: $kno-switch-sm-thumb-offset,
    $kno-switch-sm-label-offset: $kno-switch-sm-label-offset,
    $kno-switch-md-font-size: $kno-switch-md-font-size,
    $kno-switch-md-track-width: $kno-switch-md-track-width,
    $kno-switch-md-track-height: $kno-switch-md-track-height,
    $kno-switch-md-thumb-width: $kno-switch-md-thumb-width,
    $kno-switch-md-thumb-height: $kno-switch-md-thumb-height,
    $kno-switch-md-thumb-offset: $kno-switch-md-thumb-offset,
    $kno-switch-md-label-offset: $kno-switch-md-label-offset,
    $kno-switch-lg-font-size: $kno-switch-lg-font-size,
    $kno-switch-lg-track-width: $kno-switch-lg-track-width,
    $kno-switch-lg-track-height: $kno-switch-lg-track-height,
    $kno-switch-lg-thumb-width: $kno-switch-lg-thumb-width,
    $kno-switch-lg-thumb-height: $kno-switch-lg-thumb-height,
    $kno-switch-lg-thumb-offset: $kno-switch-lg-thumb-offset,
    $kno-switch-lg-label-offset: $kno-switch-lg-label-offset,
    $kno-switch-off-track-bg: $kno-switch-off-track-bg,
    $kno-switch-off-track-text: $kno-switch-off-track-text,
    $kno-switch-off-track-border: $kno-switch-off-track-border,
    $kno-switch-off-track-hover-bg: $kno-switch-off-track-hover-bg,
    $kno-switch-off-track-hover-text: $kno-switch-off-track-hover-text,
    $kno-switch-off-track-hover-border: $kno-switch-off-track-hover-border,
    $kno-switch-off-track-focus-bg: $kno-switch-off-track-focus-bg,
    $kno-switch-off-track-focus-text: $kno-switch-off-track-focus-text,
    $kno-switch-off-track-focus-border: $kno-switch-off-track-focus-border,
    $kno-switch-off-track-disabled-bg: $kno-switch-off-track-disabled-bg,
    $kno-switch-off-track-disabled-text: $kno-switch-off-track-disabled-text,
    $kno-switch-off-track-disabled-border: $kno-switch-off-track-disabled-border,
    $kno-switch-off-thumb-bg: $kno-switch-off-thumb-bg,
    $kno-switch-off-thumb-text: $kno-switch-off-thumb-text,
    $kno-switch-off-thumb-border: $kno-switch-off-thumb-border,
    $kno-switch-off-thumb-hover-bg: $kno-switch-off-thumb-hover-bg,
    $kno-switch-off-thumb-hover-text: $kno-switch-off-thumb-hover-text,
    $kno-switch-off-thumb-hover-border: $kno-switch-off-thumb-hover-border,
    $kno-switch-off-thumb-disabled-bg: $kno-switch-off-thumb-disabled-bg,
    $kno-switch-off-thumb-disabled-text: $kno-switch-off-thumb-disabled-text,
    $kno-switch-off-thumb-disabled-border: $kno-switch-off-thumb-disabled-border,
    $kno-switch-on-track-bg: $kno-switch-on-track-bg,
    $kno-switch-on-track-text: $kno-switch-on-track-text,
    $kno-switch-on-track-border: $kno-switch-on-track-border,
    $kno-switch-on-track-hover-bg: $kno-switch-on-track-hover-bg,
    $kno-switch-on-track-hover-text: $kno-switch-on-track-hover-text,
    $kno-switch-on-track-hover-border: $kno-switch-on-track-hover-border,
    $kno-switch-on-track-focus-bg: $kno-switch-on-track-focus-bg,
    $kno-switch-on-track-focus-text: $kno-switch-on-track-focus-text,
    $kno-switch-on-track-focus-border: $kno-switch-on-track-focus-border,
    $kno-switch-on-track-disabled-bg: $kno-switch-on-track-disabled-bg,
    $kno-switch-on-track-disabled-text: $kno-switch-on-track-disabled-text,
    $kno-switch-on-track-disabled-border: $kno-switch-on-track-disabled-border,
    $kno-switch-on-thumb-bg: $kno-switch-on-thumb-bg,
    $kno-switch-on-thumb-text: $kno-switch-on-thumb-text,
    $kno-switch-on-thumb-border: $kno-switch-on-thumb-border,
    $kno-switch-on-thumb-hover-bg: $kno-switch-on-thumb-hover-bg,
    $kno-switch-on-thumb-hover-text: $kno-switch-on-thumb-hover-text,
    $kno-switch-on-thumb-hover-border: $kno-switch-on-thumb-hover-border,
    $kno-switch-on-thumb-disabled-bg: $kno-switch-on-thumb-disabled-bg,
    $kno-switch-on-thumb-disabled-text: $kno-switch-on-thumb-disabled-text,
    $kno-switch-on-thumb-disabled-border: $kno-switch-on-thumb-disabled-border,
);
